*{
    margin:0%;
    padding:0%;
}
header{
    background-color:#84A6FF;
    color: #0E029A ;
    display:flex;
    justify-content:space-around;
    align-items:center;
    padding: 24px 0;
 }
.cabecalho-imagem {
    width: 10%;
}
.cabecalho-lista-item{
    display: inline-block;
    margin: 0% 16px;
    font-size:24px;
}

.escola-imagem {
    width: 10%;
}

.escola {
    background-image: linear-gradient(#424E61,#16CFF8);
}
